<!DOCTYPE html>
<html lang="en">
<head>
  {% include 'include/meta-tags.html' %}
  <meta property="og:title" content="thanks.duck.science ❤️">
  <title>thanks.duck.science</title>
</head>
<header>
  <br/>
  <div style="display: flex; flex-direction: row; align-content: center; justify-content: center; align-items: center;">
    <img id="header-icon" style="border-radius: 5%; border: 2px solid #EAA616;" src="../static/logo.png" width=150 height=100 alt="duck.science Logo"/>
    <div style="margin-left: 17px;"></div>
    <div style="display: flex; flex-direction: column; align-content: center; justify-content: center; align-items: center;">
      <h1 style="margin-bottom: 0px; color: #F9C429">thanks.duck.science</h1>
      <h2 style="margin-top: 0px; font-size: 20px; color: #FF70D9;">The Blank Abyss . . .</h2>
    </div>
  </div>
</header>
<body>
  <div style="text-align: center;">
    <p>It seems like the link you've recieved was invalid or has been revoked.</p>
    <p>Please contact whoever sent you the link for more information.</p>
  </div>
</body>
{% include 'include/footer.html' %}
</html>
